.ant-loading-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  filter: blur(5);
  opacity: 0.7;
}

.ant-loading-page .loading-icon {
  font-size: 45px;
  color: blue;
}