.checkout-section {
    margin-bottom: 80px;
    margin-top: 32px;
}

.page-links {
    color: #0aad0a !important;
    font-weight: 500 !important;
}

.page-links:hover {
    background: none !important;
    color: #099309 !important;
}

.ant-breadcrumb .ant-breadcrumb-separator {
    color: #dfe2e1 !important;
}

.checkout-heading-main {
    margin-bottom: 32px;
}

.checkout-heading-main h1 {
    font-size: 35px;
    margin-bottom: 0;
    font-weight: 700;
    color: #21313c;
    line-height: 1.2;
}

.checkout-heading-main p {
    font-size: 14px;
    color: #5c6c75;
    line-height: 1.2;
    font-weight: 500;
}

.checkout-heading-main a {
    color: #0aad0a !important;
    font-weight: 500;
}

.add-delivery-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.delivery-address-content {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
}

.add-delivery-btn {
    color: #0aad0a;
    padding: 8.8px 16px;
    border-color: #0aad0a;
    box-shadow: none !important;
}

.add-delivery-btn:hover {
    background-color: #099309 !important;
    color: white !important;
    border-color: #0aad0a !important; 
}

.checkout-form .ant-form-item {
    margin-bottom: 15px;
}

.delivery-main {
    padding-top: 16px;
    padding-bottom: 16px;
}

.delivery-section h3 {
    color: #21313c;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 600;
}

.delivery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-delivery-icon {
    color: #5c6c75;
    width: 20px;
    height: 20px;
}

.delivery-title h3 {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 17.5px;
    color: #21313c;
    line-height: 1.2;
    font-weight: 600;
}

.radio-group-parent {
    margin-top: 20px;
}

.radio-card-title {
    margin-bottom: 16px;
}

.radio-card-subtitle {
    margin-bottom: 24px;
    font-size: 14px;
    color: #5c6c75;
}

.text-danger {
    color: #db3030;
    font-weight: 500;
}

.card-actions {
    display: flex;
    gap: 12px;
    margin-top: 16px;
    align-items: center;
}

.radio-card {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.address-card {
    margin-bottom: 16px !important;
}

.custom-collapse .ant-collapse-expand-icon {
    display: none !important;
}

.custom-collapse .-ant-collapse-header-bg {
    background-color: none !important;
}

.custom-collapse .ant-collapse-expand-icon {
    display: none !important;
}

.custom-collapse .-ant-collapse-header-bg {
    background-color: none !important;
}

.custom-collapse .ant-collapse-title {
    font-size: 17.5px;
    color: #21313c;
    line-height: 1.2;
    margin-bottom: 8px;
}

.custom-collapse .collapse-icon {
    width: 20px;
    height: 20px;
    color: #5c6c6bbf;
}

.collapse-content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.collapse-content:hover {
    color: #099309 !important;
}

.custom-collapse .ant-collapse-item>.ant-collapse-header {
    padding: 12px 0px !important;
    border-bottom: 1px solid #dfe2e1;
}

.custom-collapse .ant-collapse-item:first-child>.ant-collapse-header {
    border-bottom: none;
}

.custom-collapse .ant-collapse-panel>.ant-collapse-body {
    padding: 16px 0 !important;
}

.instructions-main h1 {
    font-size: 14px;
    margin-bottom: 8px;
    display: inline-block;
}

.--ant-collapse-content-padding {
    padding: 16px 0 !important;
}

.checkout-input {
    padding: 8.8px 16px;
    width: 100%;
    column-rule: #21313c;
    font-weight: 600;
}

.checkout-input-label {
    margin-bottom: 8px;
}

.radio-card-subtitle {
    margin-bottom: 24px;
    font-size: 14px;
    color: #5c6c75;
}

.text-danger {
    color: #db3030;
    font-weight: 500;
}

.card-actions {
    display: flex;
    gap: 12px;
    margin-top: 16px;
    align-items: center;
}

.radio-card {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.collapse-main {
    display: flex;
    width: 100%;
    gap: 220px;
    align-items: center;
}