

.form-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.back-btn {
    width: 100%;
    padding: 18px;
    background: #f0f3f2;
    color: #000;
    border-color: #f0f3f2;
    box-shadow: none !important;
}

.back-btn:hover {
    background: #cccfce !important;
    border-color: #c0c2c2 !important;
    color: black !important;
}

.auth-form {
    padding-block: 50px;
}

.reset-form-error {
    display: block;
    font-weight: 500;
    font-size: 12.25px;
    color: #db3030;
    width: 100%;
}

.reset-password-btn {
    padding: 19px;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 500;
    background: #0aad0a;
}

.reset-password-btn:hover {
    background: #099309 !important;
    color: white !important;
    border: none !important;
}