.forget-form-title {
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 24px;
}

.form-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.back-btn {
    width: 100%;
    padding: 18px;
    background: #f0f3f2;
    border: none;
}

.auth-form{
    padding-block: 50px;
}