.featured-title {
    font-size: 24px;
    color: var(--h1--color);
    font-weight: 600;
}

.slider-container .mySwiper{
    width: 100%;
}

.slider-container{
    width: 100%;
}
.slider-container{
    padding: 0;
}

.featured-categories-header {
    margin-bottom: 14px;
    padding: 0;
}

.mySwiper .swiper-button-prev {
    display: none !important;
}

.mySwiper .swiper-pagination {
    display: none;
}

.mySwiper .swiper-button-next{
    display: none;
}

.featured-categories-card {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured-categories-card:hover {
    border: 1px solid #0aad0a;
}

.card-desc {
    color: var(--p--color);
    text-align: center;
    font-size: 12px;
}