.featured-title {
    font-size: 23px;
    color: var(--h1--color);
    font-weight: 600;
}

.slider-container {
    width: 100%;
}

.slider-container .mySwiper{
    width: 100%;
}

.featured-categories-header {
    margin-bottom: 14px;
}

.mySwiper .swiper-button-prev {
    display: none !important;
}

.mySwiper .swiper-pagination {
    display: none;
}y

.mySwiper .swiper-button-next {
    display: none !important;
}

.category-card {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.category-card:hover {
    border: 1px solid #0aad0a;
}

.card-desc {
    color: var(--p--color);
    text-align: center;
}