.nav-divider {
    border: 1px solid #dfe2e1;
}

.nav-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-header-center {
    display: flex;
    gap: 9px;
    align-items: center;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    padding-block: 20px;
}

.danger-alert {
    color: #581313;
}

.nav-logo {
    cursor: pointer;
    width: 100%;
    height: auto;
}

.search-input {
    width: 600px;
    color: #21313c !important;
    font-size: 14px;
    border: 1px solid #dfe2e1;
    appearance: none;
    border-radius: 8px;
    font-weight: 600;
    padding: 8.8px 16px;
    border-color: #c1c7c6 !important;
    outline: none;
    line-height: 1.6;
}

.search-input-icon {
    width: 16px;
    height: 16px;
    color: #000;
}

.select-location-btn {
    padding: 16px;
    color: #5c6c75bf;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    border-color: #c1c7c6 !important;
    height: 41px;
    box-shadow: none !important;
    outline: gray;
}

.select-location-btn:hover {
    background: #c1c7c6 !important;
    color: #5c6c75bf !important;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 17px;
    width: 100%;
    justify-content: end;
    color: gray;
}

.social-icon {
    width: 20px;
    height: 20px;
    cursor: pointer !important;
    color: gray;
    position: relative;
}

/* Shop Cart */
.mobile-nav-section {
    display: none;
}

.mobile-menu-icon {
    font-size: 26px;
    color: #0aad0a;
}

.add-quantity-buttons {
    display: flex;
    gap: 4px;
}

.increment-btn,
.decrement-btn {
    padding: 10px 12px;
}

.bottom-nav-section {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.all-departments-btn {
    background: #0aad0a;
    color: white;
    border-color: #0aad0a;
    padding: 18px;
    border-radius: 8px;
    box-shadow: none !important;
    padding: 8.8px 24px;
    height: 42px;
}

.all-departments-btn:hover {
    background-color: #099309 !important;
    color: white !important;
    border-color: #0aad0a !important;
}

.navbar-default {
    margin-right: 12px;
}

.dropdown-links {
    display: flex;
    gap: 14px;
    width: 100%;
    align-items: center;
    list-style: none;
}

.dropdown-links li {
    font-weight: 500;
    color: #21313c;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-size: 14px;
}

.doc-icon {
    width: 24px;
    height: 24px;
    color: #0aad0a !important;
}

.count-badge .ant-scroll-number {
    background: #198754 !important;
}

.count-badge {
    padding: 2px 4px;
    border-radius: 50%;
    font-size: 12px;
}

.ant-badge {
    position: relative;
    display: inline-block;
}

.document-content {
    margin-left: 3px;
    line-height: 1;
}

.document-content h6 {
    font-size: 11px !important;
    margin-bottom: 4px !important;
}

.document-dropdown-item {
    display: flex;
    align-items: center;
    line-height: 26px;
    padding: 14px 8px;
}

.bottom-nav-links {
    color: #5c6c75 !important;
}

.nav-dropdown li {
    color: #5c6c75 !important;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    align-items: stretch;
}


.dashboard-link:hover {
    color: #0aad0a !important;
}

.mobile-nav-section {
    display: none;
}

.menu-btn {
    border: none;
    background: none;
    box-shadow: none !important;
    display: none;
}

.menu-icon {
    width: 32px;
    height: 32px;
    color: #0aad0a !important;
}

.mobile-collapse .ant-collapse-header {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 0;
}

.mobile-collapse .ant-collapse-content {
    border: none;
}

.mobile-collapse .ant-collapse-item {
    border-bottom: 1px solid #eee;
}


.filter-btn {
    display: none;
}

.free-delivery-alert {
    background: #f8d6d6 !important;
    color: #581313 !important;
    border: 1px solid #f1acac !important;
    margin-bottom: 16px;
    padding: 8px;
}

.checkout-now-link {
    color: #581313;
    font-weight: 700;
}

.checkout-now-link:hover {
    color: #0aad0a !important;
}

.alert-content {
    display: flex;
    gap: 3px;
}

.popover-content {
    display: flex;
    flex-direction: column;
}

.popover-link {
    line-height: 26px;
    padding: 2px 12px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #5c6c75 !important;
}

.drawer-link {
    padding: 12px 0;
    font-size: 16px;
    border-bottom: 1px solid #eee;
}