.header-wrapper-main {
    background: #F0F3F1 !important;
    padding-top: 4px;
    padding-bottom: 4px;
}

.header-wrapper-left {
    padding: 0;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-heading {
    margin: 0;
    font-size: 14px;
    color: #808080;
    font-weight: 500;
}

.language-select {
    border: none;
    background: none;
    padding: 0;
}

.language-select .ant-select-outlined{
    border: none;
}

.lang-option{
    display: flex;
    align-items: center;
    gap: 8px;
}