.header-wrapper-main {
    background: #f0f3f2 !important;
    padding-top: 4px;
    padding-bottom: 4px;
}


.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-heading {
    margin: 0;
    font-size: 14px;
    color: #5c6c75;
    font-weight: 500;
    line-height: 1.6;
}

.language-select {
    border: none;
    background: none;
    padding: 0;
}

.language-select .ant-select-outlined {
    border: none;
}

.lang-option {
    display: flex;
    align-items: center;
    gap: 8px;
}

.language-title {
    color: #5c6c75;
}

.dropdown-item {
    line-height: 26px;
    font-weight: 500;
    cursor: pointer;
    font-size: 17px;
    color: #5c6c75;
}