.header-wrapper-main {
    background: #F0F3F1 !important;
    padding: 0;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.page-heading{
    margin: 0;
    font-size: 14px;
    color: #808080;
}