.sidebar-menu {
    width: 100%;
    margin-bottom: 18px;
    border: none !important;
}

.page-links-parent {
    margin-top: 16px;
}

.main {
    margin-top: 16px;
}

.sidebar-menu .ant-menu-inline {
    background: transparent !important;
}

.routes-links ol {
    margin-bottom: 16px;
}

.fruits-img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.nav-links {
    margin-bottom: 16px;
}

.sidebar-menu-section {
    margin-bottom: 32px;
}

.sidebar-menu {
    width: 100%;
    margin-bottom: 18px;
    border: none !important;
}

.sidebar-menu .ant-menu-item,
.sidebar-menu .ant-menu-submenu-title {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 8px !important;
}

.sidebar-menu .ant-menu-item:last-child,
.sidebar-menu .ant-menu-submenu:last-child .ant-menu-submenu-title {
    border-bottom: none;
}

.sidebar-menu .ant-menu-item {
    display: flex;
    justify-content: space-between;
}

.sidebar-main .ant-menu-submenu-title:hover {
    background-color: transparent !important;
}

.menu-title {
    font-size: 17px;
    margin-bottom: 12px;
}

.shop-title {
    font-size: 17px;
    font-weight: 600;
}

.shop-input {
    width: 100%;
    padding: 10px;
}

.price-range-slider {
    width: 100%;
}


.stores-section {
    margin-bottom: 32px;
}

.search-store-input {
    width: 100%;
    border-radius: 8px;
    padding: 8.8px 16px;
}

.search-store-input:hover {
    border: 1px solid #dfe2e1;
}

.shop-card .ant-card-body {
    padding: 0 !important;
}

.shop-card .ant-card-head {
    padding: 0;
}

.form-check-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.input-section {
    margin-top: 16px;
    margin-bottom: 16px;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #0aad0a;
    border-color: #0aad0a;
}

.checkbox-input:hover,
.ant-checkbox-checked:hover {
    color: #0aad0a !important;
}

.shop-card {
    padding: 40px;
    background: #f0f3f2;
    color: black;
    margin-bottom: 16px;
    width: 100%;
}

.products-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.form-select .ant-select-content-value {
    font-weight: 500;
    color: #21313c;
}

.icons {
    display: flex;
    justify-content: space-between;
    gap: 13px;
    align-items: center;
}

.list-icon {
    font-size: 20px;
    color: gray;
    margin-right: 8px;
    cursor: pointer;
}

.shop-card-title {
    font-size: 35px;
    margin: 0;
    color: #21313c;
    font-weight: 600;
}

.filters-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.form-select {
    padding: 8px 12px 8.8px 11px;
    font-size: 11px;
    border-radius: 8px;
}


.category-section-main {
    margin-top: 32px;
    margin-bottom: 80px;
}

.selected-category-title {
    font-size: 34px;
    margin: 0;
    white-space: normal;
    overflow: visible;
    color: #21313c;
}

.ant-card-head-title {
  white-space: normal !important;
}

.listing-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-products-main {
    margin-top: 8px;
}

.fruits-cards-main {
    margin-bottom: 32px;
    position: relative;
}

.card-overlay {
    position: absolute;
    padding: 20px;
    padding-bottom: 32px;
    padding-top: 32px;
}

.card-overlay h3 {
    font-size: 24.5px;
    margin-bottom: 0;
    line-height: 1.2;
    font-weight: 600;
    color: #21313c;
}

.card-overlay p {
    margin-bottom: 16px;
    line-height: 1.6;
    color: #5c6c75;
    font-weight: 500;
    font-size: 14px;
}

.fresh-fruits-btn {
    padding: 8.8px 16px;
    background: #001e2b;
    color: white;
    border: 1px solid #001e2b;
    height: 34px;
    font-size: 12px;
    line-height: 1.6;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
}

.fruits-arrow-icon {
    width: 14px;
    height: 14px;
}

.fresh-fruits-btn:hover {
    border: 1px solid #001e2b !important;
    background: #001e2b !important;
    color: white !important;
}

.sidebar-menu,
.--ant-menu-color-item-bg-hover,
.ant-menu-item-hover-bg {
    background: none !important;
    border-bottom: none !important;
}

.ant-menu-title-content {
    border-bottom: none !important;
}

.ant-menu-title-content:hover {
    color: #0aad0a !important;
}

.filters-btn {
    display: none;
}