.sidebar-menu {
    width: 100%;
    margin-bottom: 18px;
    border-inline-end: none !important;
}

.shop-page-wrapper {
    margin-bottom: 80px;
    margin-top: 32px;
}

.page-links-parent {
    margin-top: 16px;
}

.main {
    margin-top: 16px;
}

.sidebar-menu .ant-menu-inline {
    background: none !important;
}

.routes-links ol {
    margin-bottom: 16px;
}

.fruits-card-image {
    border-radius: 8px;
    height: auto;
    width: 100%;
}

.nav-links {
    margin-bottom: 16px;
}

.sidebar-menu-section {
    margin-bottom: 32px;
}

.sidebar-menu .ant-menu-submenu-title {
    width: 100%;
    border-bottom: 1px solid #dfe2e1;
    border-left: none;
    background: none;
    font-size: 14px;
    padding: 8px 0;
    font-weight: 500;
    padding-left: 0 !important;
}

.sidebar-menu .ant-menu-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 8px;
}

.sidebar-main .ant-menu-submenu-title:hover {
    background-color: none !important;
}

.menu-title {
    font-size: 17px;
    margin-bottom: 12px;
}

.shop-title {
    font-size: 17px;
    font-weight: 600;
}

.shop-input {
    width: 100%;
    padding: 10px;
}

.price-range-slider {
    width: 100%;
}

.sidebar-menu {
    border-inline-end: none !important;
}

.price-range-slider .ant-slider-track {
    background: #0aad0a;
}

.price-range-slider .ant-slider-track:hover {
    background: #0aad0a;
}

.stores-section {
    margin-bottom: 32px;
}

.search-store-input {
    width: 300px;
    border-radius: 8px;
    padding: 8.8px 16px;
}

.shop-card .ant-card-body {
    padding: 0 !important;
}

.shop-card .ant-card-head {
    padding: 0;
}

.form-check-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.input-section {
    margin-top: 16px;
    margin-bottom: 16px;
}

.fresh-fruits-main {
    position: relative;
    margin-bottom: 32px;
}

.overlay-content {
    position: absolute;
    top: 5px;
    left: 19px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.overlay-content h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
    color: #21313c;
}

.overlay-content p {
    color: #808080;
    font-weight: 600;
    margin-bottom: 16px;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #0aad0a;
    border-color: #0aad0a;
}

.checkbox-input:hover,
.ant-checkbox-checked:hover {
    color: #0aad0a !important;
}

.card1 {
    padding: 40px;
    background: #f0f3f2;
}

.shop-card {
    padding: 40px;
    background: #f0f3f2;
    color: black;
    margin-bottom: 16px;
}

.products-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.form-select {
    display: flex;
    gap: 20px;
    border: 1px solid #dfe2e1;
    outline: none;
}

.form-select .ant-select-content-value {
    font-weight: 500;
    color: #21313c;
}

.product-listing-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.list-icon {
    font-size: 20px;
    color: gray;
}

.filters {
    display: flex;
    gap: 8px;
}

.shop-card-title {
    font-size: 35px;
    margin: 0;
    color: #21313c;
    font-weight: 600;
}

.mobile-filters-button-main {
    display: none;
}

.cards-pagination .ant-pagination-item {
    border-radius: 5px;
    border: 1px solid #dfe2e1;
}

.ant-pagination-active-bg {
    background: #0aad0a !important;
}

.ant-pagination-hover-bg {
    background: #0aad0a !important;
}

.product-header-filters {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-select {
    padding: 8px 12px 8.8px 11px;
    font-size: 11px;
    border-radius: 8px;
}

.card-main {
    margin-bottom: 12px;
}

.category-detail-section {
    margin-top: 32px;
    margin-bottom: 80px;
}