.auth-title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 4px;
    color: #21313c;
}

.sign-in-logo{
    max-width: 100%;
    height: auto;
}

.sign-in-btn {
    width: 100%;
    padding: 19px;
    border-radius: 9px;
    color: white;
    background: #0aad0a;
    margin-bottom: 12px;
    border: 1px solid #0aad0a;
    height: 42px;
    box-shadow: none !important;
}

.sign-in-btn:hover {
    background: #099309 !important;
    color: white !important;
    border-color: #0aad0a !important;
}

.form-content {
    margin-bottom: 40px;
}

.ant-checkbox-input {
    border-color: #0aad0a !important;
    background-color: #0aad0a !important;
}

.ant-checkbox-input:hover {
    background-color: #0aad0a !important;
}

.form-content p {
    color: #5c6c75;
    font-weight: 500;
}

.email-input,
.password-input {
    margin: 0;
    padding: 8.8px 16px;
    width: 100%;
    border-radius: 6px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 1px solid #dfe2e1;
    font-weight: 600;
}

.forgot-password-main a {
    color: #0aad0a;
}

.auth-form-content {
    display: flex;
    justify-content: space-between;
}

.forgot-password-main {
    display: flex;
    gap: 4px;
    color: #808080;
    font-weight: 500;
}

.form-check {
    margin-bottom: 14px;
}

.form-check-input {
    color: #5c6c75;
    font-weight: 500;
}

.forgot-password {
    display: flex;
    gap: 5px;
}

.forgot-password a {
    color: var(--link-color);
}

.auth-footer a {
    color: #0aad0a;
}

.auth-footer p {
    color: gray;
    font-weight: 500;
}

.auth-footer {
    display: flex;
    gap: 6px;
    align-items: center;
}

.auth-wrapper {
    display: flex;
    flex-direction: row;
}