.route-links-main {
    margin-top: 8px;
}

.product-detail-title {
    font-size: 35px;
    margin-bottom: 4px;
    font-weight: 600;
    line-height: 1.2;
}

.product-detail-main {
    margin-top: 32px;
}

.product-detail-description {
    margin-bottom: 16px;
    font-size: 21px;
    color: #0aad0a;
}

.divider {
    margin-top: 24px;
    margin-bottom: 24px;
    border-top: 1px solid #dfe2e1;
}

.weight-buttons-main {
    display: flex;
    gap: 9px;
    margin-bottom: 20px;
    align-items: center;
}

.product-detail-rate {
    font-size: 12px;
}

.weight-button {
    color: #889397;
    padding: 8.8px 16px;
    font-weight: 600;
    border: 1px solid #889397;
    border-radius: 8px;
    background-color: #00000000;
    font-size: 14px;
    height: 41px;
    box-shadow: none !important;
}

.weight-button:focus {
    color: white !important;
    background-color: #889397 !important;
    border-color: #889397 !important;
}


.weight-button:hover {
    color: #889397 !important;
    border: 1px solid #889397 !important;
}

.add-to-cart-icon:hover {
    color: white !important;
}

.product-detail-btn {
    width: 48px;
    background: #f0f3f2;
    border-color: #f0f3f2;
    color: #000;
}


.product-detail-btn:hover {
    background: #cccfce !important;
    border-color: #c0c2c2 !important;
    color: black !important;
}

.add-product-btn {
    padding: 8.8px 16px;
    background: #0aad0a;
    color: white;
    border: 1px solid #0aad0a;
}

.input-price-main {
    width: 20%;
}

.product-actions {
    display: flex;
    gap: 6px;
    margin-top: 12px;
    align-items: center;
}

.product-lists {
    list-style: none;
}

.tabs-section {
    margin-top: 80px;
}

.detail-info {
    margin-bottom: 16px;
}

.related-items-section {
    margin-top: 80px;
    margin-bottom: 80px;
}

.related-items-section h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.add-product-btn:hover {
    background: #0aad0a !important;
    border-color: #0aad0a !important;
    color: white !important;
}

.product-price {
    margin-top: 32px;
    font-size: 21px;
}

.table-tabs-view .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #0aad0a !important;
}

.table-tabs-view .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn:hover {
    color: #0aad0a !important;
}

.table-tabs-view .ant-tabs-ink-bar {
    background: #0aad0a !important;
}

.table-tabs-view .ant-tabs-tab {
    padding: 16px 0;
    margin-bottom: -1px;
    font-weight: 500;
    color: #5c6c75;
}

.table-tabs-view .ant-tabs-tab:hover {
    color: #0aad0a !important;
}

.products-section {
    margin-top: 32px;
    margin-bottom: 32px;
}

.dropdown-main {
    margin-top: 32px !important;
}

.social-link-select:hover {
    background-color: #889397 !important;
    border-color: #889397 !important;
}