.edit-link {
    color: #21313c;
}

.delete-link{
    color: #db3030;
}

.form-check{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.address-location {
    margin-bottom: 24px;
    color: #5c6c75;
}

.card-links {
    color: #db3030;
    font-size: 15px;
    font-weight: 500;
}