.slider-one .slick-dots {
    position: absolute;
    bottom: 20px;
}

.slide-wrapper {
    position: relative;
}

.show-now-btn {
    background-color: var(--fc-btn-bg);
    color: var(--fc-btn-color);
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 19px;
    font-size: 13px;
}

.show-now-icon {
    font-size: 11px;
}

.hero-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.hero-description {
    color: var(--p--color);
    margin-bottom: 16px;
}

.hero-title {
    color: #001e2b;
}

.slide-wrapper-left {
    position: absolute;
    bottom: 20px;
    left: 40px;
    top: 4px;
    display: flex;
    align-items: center;
}

.text-content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.text-content h1 {
    color: #001e2b;
    font-size: 37px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 8px;
}

.custom-badge {
    background: #ffc107;
    text-align: center;
    width: 177px;
    padding: 6px;
    border-radius: 11px;
    font-size: 10px;
    font-weight: 700;
    color: #000;
}

.text-primary {
    color: rgb(10 173 10);
    font-weight: 600;
    font-size: 25px;
}