.hero-slider .slick-dots {
    position: absolute;
    bottom: 25px;
}

.hero-cards-section {
    margin-top: 32px;
}

.hero-slider {
    padding: 0;
}

.slide-wrapper {
    position: relative;
}

.show-now-btn {
    background-color: #001e2b;
    color: var(--fc-btn-color);
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 14px;
    height: 44px;
    margin-top: 12px !important;
    border-radius: 8px;
}

.show-now-btn:hover {
    background: #26404b !important;
    color: #fff !important;
    border-color: #001e2b !important;
}

.show-now-icon {
    font-size: 11px;
}

.hero-img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.hero-description {
    color: var(--p--color);
    margin-bottom: 16px;
    line-height: 1.6;
    font-weight: 500;
    font-size: 17.5px;
}

.hero-title {
    color: #001e2b;
}

.slide-wrapper-left {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.text-content {
    max-width: 500px;
}

.text-content h1 {
    color: #001e2b !important;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 8px;
}

.custom-badge {
    background: #ffc107;
    text-align: center;
    padding: 6px;
    border-radius: 11px;
    font-size: 10px;
    font-weight: 700;
    color: #000;
}

.text-primary {
    color: rgb(10 173 10);
    font-weight: 600;
    font-size: 25px;
}

.highlight-price {
    color: rgb(10 173 10);
    font-weight: 700;
    font-size: 48px;
}