@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



:root {
  --link-color: #0aad0a;
  --fc-btn-bg: #001e2b;
  --p--color: #5c6c75;
  --h1--color: #21313c;
  --fc-btn-color: #fff;
  --fc-btn-hover-bg: #26404b;
  --fc-heading-color: #21313c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Instrument Sans", sans-serif !important;
  font-weight: 600;
}

.section-padding {
  width: 100%;
  padding: 24px 0;
}

.container {
  padding: 9px 0;
  margin: 0 auto;
}