@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --link-color: #0aad0a00;
  --fc-btn-bg: #001e2b;
  --p--color: #5c6c75;
  --h1--color: #21313c;
  --fc-btn-color: #fff;
  --fc-btn-hover-bg: #26404b;
  --fc-heading-color: #21313c;
  --fc-accordion-color: var(--fc-gray-600);
  --fc-accordion-bg: #fff;
  --fc-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --fc-accordion-border-color: var(--fc-border-color);
  --fc-accordion-border-width: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
  font-weight: 600;
}

.section-padding {
  padding-block: 50px !important;
}

.section-container {
  margin-inline: 120px;
}

.ant-message-notice-content {
  color: #006d75;
  font-weight: 500;
}

.ant-message-success .ant-message-notice-content {
  background-color: #f6ffed;
  border: 1px solid #52c41a;
  color: #237804;
}

.page-links-main {
  margin-bottom: 16px !important;
}

.page-links-main .ant-breadcrumb-link {
  color: #5c6c75 !important;
  font-weight: 500;
  border: none;
}

.ant-radio-checked .ant-radio-inner {
  background-color: #0aad0a !important;
  border-color: #0aad0a !important;
}

.ant-radio-checked::after {
  border-color: #0aad0a !important;
}

.ant-radio:hover .ant-radio-inner {
  border-color: #0aad0a !important;
}

.form-error {
  display: block;
  font-weight: 500;
  font-size: 12.25px;
  color: #db3030;
  width: 100%;
  margin-bottom: 10px;
}

.auth-section {
  margin-top: 80px;
  margin-bottom: 80px;
}

.custom-float-button {
  width: auto;
  background-color: var(--fc-btn-bg) !important;
  color: var(--fc-btn-color) !important;
  padding: 8.8px 16px;
  line-height: 1.6;
  font-weight: 600;
  height: 46px;
  border-radius: 8px;
  box-shadow: none !important;
}

.custom-float-button:hover {
  background-color: var(--fc-btn-hover-bg) !important;
  color: var(--fc-btn-color) !important;
}

.button-description-main {
  display: flex;
  align-items: center;
  gap: 8px;
}

.float-button-icon {
  width: 24px;
  height: 24px;
}

.custom-description {
  font-size: 17.5px;
}

.auth-form-logo {
  max-width: 100%;
  height: auto;
}