@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --link-color: #0aad0a00;
  --fc-btn-bg: #001e2b;
  --p--color: #5c6c75;
  --h1--color: #21313c;
  --fc-btn-color: #fff;
  --fc-btn-hover-bg: #26404b;
  --fc-heading-color: #21313c;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
  font-weight: 600;
}


.section-padding {
  padding-block: 50px;
}

.section-container {
  margin-inline: 120px;
}