.coffee-card-image-main {
    background-image: url("https://freshcart-next-js-template.netlify.app/images/banner/banner-deal.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 470px;
    border-radius: 8px;
    width: 300px;
}

.daily-best-sell-header {
    padding: 0;
}

.best-sell-card-img {
    width: 100%;
}

.coffee-card-content {
    padding-left: 32px;
    padding-top: 32px;
}

.coffee-card-title {
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 9px;
}

.coffee-card-subtitle {
    margin-bottom: 16px;
    color: white;
    font-size: 14px;
}

.card-header-title {
    padding: 0;
    font-size: 24.5px;
    font-weight: 600;
    margin-bottom: 0;
}

.shop-now-btn-green {
    background: #0aad0a;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    border: none;
    font-size: 13px;
}

.shop-now-btn-green:hover {
    background: #0aad0a !important;
    color: white !important;
}

.arrow-right-icon {
    font-size: 16px;
}

.product-amount-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.daily-sell-card,
.ant-card-body {
    padding: 16px !important;
}

.daily-best-sell-card:hover .icons-overlay {
    opacity: 1;
}

.actions .add-to-cart-btn {
    width: 100%;
    padding: 19px;
    border-radius: 9px;
    font-size: 14px;
}

.deals-content p {
    color: gray;
    margin-bottom: 4px;
}

.deals-content h2 {
    font-size: 14px;
    font-weight: 600;
}

.countdown-section {
    padding: 14px 5px 26px;
    border: 1px solid #dfe2e1;
}

.countdown-cards {
    width: 54px;
    height: 54px;
    border-radius: 8px;
}

.actions{
    margin-top: 8px;
}