.product-card .ant-card-body {
    padding: 16px;
}

.card-wrapper-header {
    margin-bottom: 15px;
}

.card-wrapper-header h3 {
    font-size: 22px;
}

.cards-content {
    position: relative;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.cards-container .product-card {
    position: relative;
    overflow: hidden;
}

.icons-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    gap: 10px;
    opacity: 0;
    align-items: center;
    justify-content: center;
}

.cards-container .product-card:hover .icons-overlay {
    opacity: 1;
}

.icons-main {
    display: flex;
    gap: 14px;
}

.card-hover-button {
    background: #fff;
    color: #21313c;
    width: 34px;
    font-size: 14px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1);
}

.product-card {
    width: 230px;
    border: 1px solid #dfe2e1;
    cursor: pointer;
}

.product-card .product-card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.product-card:hover {
    border: 1px solid #0aad0a;
}

.product-card-title {
    font-size: 13px;
    color: var(--h1--color);
    font-weight: 600;
    margin-bottom: 6px;
}

.product-card-desc {
    color: gray;
    font-weight: 600;
}

.product-card-rating {
    font-size: 16px;
}

.add-to-cart-btn {
    background: #0aad0a;
    padding: 10px;
    color: var(--fc-btn-color);
    width: 65px;
    border: 1px solid #dfe2e1;
    font-size: 12px;
    font-weight: 600;
}

.card-bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.card-wrapper-title {
    font-size: 24px;
    margin: 0;
}