.product-card .ant-card-body {
    padding: 16px;
}

.card-wrapper-header {
    margin-bottom: 15px;
}

.card-wrapper-header h3 {
    font-size: 22px;
}

.cards-content {
    position: relative;
}

.icons-overlay {
    position: absolute;
    top: 12px;
    bottom: 10px;
    width: 100%;
    height: 100%;
    display: none;
}

.icons-main {
    display: flex;
    gap: 11px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.cards-container .product-card {
    position: relative;
    overflow: hidden;
}

.product-card {
    position: relative;
    width: 230px;
    border: 1px solid #dfe2e1;
    cursor: pointer;
}

.product-card .product-card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.product-card:hover {
    border: 1px solid #0aad0a;
}

.product-card-title {
    font-size: 13px;
    color: var(--h1--color);
    font-weight: 600;
    margin-bottom: 6px;
}

.product-card-desc {
    color: gray;
    font-weight: 600;
}

.product-card-rating {
    font-size: 16px;
}

.add-to-cart-btn {
    background: #0aad0a;
    padding: 10px;
    color: var(--fc-btn-color);
    width: 65px;
    border: 1px solid #dfe2e1;
    font-size: 12px;
    font-weight: 600;
}

.card-bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.card-wrapper-title {
    font-size: 24px;
    margin: 0;
}